@import "../bourbon/bourbon"

$color: #FF6347 //Theme skin
$text_color: #888
$main_color: #222
$bg_light: #FAFAFA

@mixin kerning($kerning)
	letter-spacing: $kerning + px

body
	color: $main_color
	+kerning(1)

// a
// 	color: $color

p,
body .main_footer,
s.about li
	color: $text_color

.color_element
	color: $color
.color_bg
	background-color: $color
.color_border
	border-color: $color
.bg_light
	background-color: $bg_light
	opacity: 1
.bg_dark
	background-color: $main_color
	color: #fff
	.s_descr::after
		background-color: #fff
	// a
	// 	color: #fff
svg
	path
		fill: rgba(255,255,255,.6)
.toggle_menu
	background: rgba(0,0,0,.7)

.top_menu
	a
		color: #fff
.top_menu
	a:hover
		color: $color
	a
		+kerning(4)
.top_text
	h1
		color: #fff
	p
		color: $bg_light

.s_descr
	+kerning(5)
	&::after
		background-color: $main_color
.social_wrap
	margin-top: 25px
	a
		color: $color
		opacity: 1
section
	h3
		+kerning(3)
		color: $text_color
	ul
		li
			color: $text_color
			a
				color: $color
.s_about
	p:nth-child(even)
		color: $color

.resume_container
	h3
		color: $main_color
		+kerning(1)
	.float-left strong
		margin-left: 10px
	.float-right strong

.resume_item
	.year
		background-color: $color
		color: #fff
	.resume_description
		+kerning(1)
.s_portfolio
	li
		color: #fff
		+kerning(2)
	li.active
		color: #fff
		border-bottom: 1px solid $color
.portfolio_item .port_item_cont
	a
		border-color: $color
		color: $color
		+kerning(.5)
.contacts_icon
	color: $color
.text_danger
	color: $color

form
	input:focus,
	textarea:focus
		border: 1px solid $color
		border-color: $color
	input,
	textarea
		+kerning(2)
		background-color: transparent
	button
		background-color: $color
		color: #fff
		+kerning(2)
	.form-group
		+kerning(2)
		color: $text_color
